@media only screen and (min-width: 600px) {

  header {
    -webkit-text-stroke-width: 1px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
  
  nav{
    font-size: 15px;
    font-weight: bold;
  }
  
  #logo{
    width: 150px;
  }
  
  .navigation{
    display: flex;
  }
  
  .navigation li{
    
    display: block;
    flex: 1 1 100%;
  }

.navigation li a:hover {
  color: white;
}
  .navigation li:hover {
    background-color: #0A3282;
    color: white;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
  }
  
  #liLast{
    border-right: 0px;
  }
  
    .navigation li:first-child {
    display: none;
  }
  
  .navigation a{
      display: block;
      text-decoration: none;
      padding: 0.75em;
      text-align: center;
  }
  
  .Preston{
    font-size: 25px;
  }

  div.forecast {
    font-size: medium;
    padding: 0;
}

.forecast section {
  display: flex;
}

.forecast img {
  width: 50%;
}

.forecast p {
    font-size: large;
}

#fiveDay{
  display: block;
  text-align: center;
  max-width: 414px;
}
.forecast{
  max-height: 100px;
  display: block;
  padding: 0 1rem 1rem;
}

  .summaryBox{
    top: 15px;
    left: 335px;
    padding: 0 15px;
  }

  .heroBox h3{
    font-size: 23px;
  }
  
  .heroBox p{
    font-size: 18px;
  }

  .forecastText {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3px;
  }
  
  .forecast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem 1rem;
  }
  
  #daysSection{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .dayBox{
    font-size: 1.3rem;
    text-align: center;
    border: 1px solid black;
    max-width: 90px;
    flex: 1 1 auto;
    background-color: #7EA9FF;
  }
  
  .dayBox p{
    margin: 5px;
  }
  
  .iconWeather{
    font-size: 30px;
  }

.rental{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

  .contacts{
    grid-column: 2;
    grid-row: 1;
  }

  footer{
      font-size: 1em;
  }
    
}