body {
	padding: 0;
	margin: 0;
  font-family: "Cudea", "Geneva", sans-serif;
}

#pancakes{
  display: none;
  font-size: 12px;
  font-weight: bold;
  padding: 0 2px;
  text-align: center;
}

#pancakes p{
  margin: 0;
  padding: 10px;
}

header {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
	padding: 10px;
	display: flex;
	align-items:center;
	justify-content:center;
  font-family: "Gochi Hand", "Comic Sans MS", fantasy;
  font-size: 18px;
}

header h1{
  margin: 10px 10px 10px 0;
}

#active {
    border-radius: 5px;
    text-decoration: underline;
  }

#logo{
  width: 80px;
}

.heroBox img{
  width: 100%;
}

nav{
  border-bottom: 1px solid black;
  font-size: 15px;
  font-weight: bold;
}

.navigation{
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  height: auto;
}

.navigation li{
  display: none;
}

.navigation li:first-child {
  display: block;
}

.navigation a{
  display: block;
  text-decoration: none;
  padding: 0.75rem;
  text-align: center;
}

.responsive li{
  display: block;
}

.hrHeader{
  height: 1px;
  margin: 0;
  background-color: #000000;
  border: none;
}

.hrMain{
  height: 1px;
  margin: 0;
  background-color: #000000;
  border: none;
}

.hrFooter{
  height: 1px;
  margin: 0;
  background-color: #000000;
  border: none;
}

main{
  max-width: 900px;
  margin: auto;
  height: max-content;
}

main h2{
  font-size: 2rem;
  text-align: center;
}

.thanks{
  text-align: center;
}
.thanks p{
  font-size: 1.5rem;
}

.headline{
  padding: 5px;
  text-align: center;
}

form fieldset{
  margin: 2rem 0;
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend{
  margin: 0 1rem;
  padding: 0 .5rem;
  font-size: 1.3rem;
}

form div{
  display: block;
  padding-top: 1rem;
  font-size: 1rem;
}

form label.radio {
  display: block;
  padding-top: 1.5em;
  position: relative;
}

form span.options {
  margin-left: 5px;
}

#comment {
  height: 200px;
  width: auto;
  display: flex;
  flex-direction: column;
}

form label.top input, form label.top select {
  display: block;
  font-size: 0.8rem;
  border-radius: 5px;
  padding: .75rem;
  width: 100%;
  max-width: 10rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.second {
  display: block;
  padding: .75rem;
}

form input.submitButton {
  width: 100%;
  max-width: 20em;
  display: block;
  border: none;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto; 
  padding: .70rem 1.3rem;
  margin-bottom: 1.8rem;
}

form label.top, form div {
  display: block;
  padding-top: 1.5em;
  font-size: 1em;
  font-weight: bold;
  top: 5px;
  left: 4px;
}



footer{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0;
  padding: 0.75rem;
  background-color: #1CE15A;
  color: #000000;
  font-weight: bold;
  font-size: 0.8em;
}

#copyright{
    font-size: 1em;
    margin-top: 6px;
}

#lastUpdate{
    font-size: 0.9rem;
    margin-top: 8px;
    color: yellow;
}

#refSpan{
    background-color: transparent;
    text-decoration: underline;
}

footer a{
    background-color: transparent;
    text-decoration: underline;
}
